<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjoa.wms.dao.ProductMapper">
    <resultMap id="prodResultMap" type="Product">
        <id column="prod_code" property="prodCode"/>
        <result column="category_code" property="categoryCode"/>
        <result column="category_name" property="categoryName"/>
        <result column="prod_name" property="prodName"/>
        <result column="prod_price" property="prodPrice"/>
        <result column="soldout_yn" property="soldOut"/>
        <result column="prod_desc" property="prodDesc"/>
        
        <collection property="productOptionList" ofType="ProductOption" >
            <result column="prod_option_code" property="prodOptionCode"/>
            <result column="prod_size" property="prodSize"/>
            <result column="prod_color" property="prodColor"/>
            <result column="prod_option_soldout_yn" property="optionSoldOut"/>
            <result column="stock_quantity" property="quantity"/>
        </collection>
    </resultMap>

    
    <select id="selectAllProduct" resultMap="prodResultMap">
        SELECT
            prod_code
          , c.category_code
          , category_name
          , prod_name
          , prod_price
          , soldout_yn
          , prod_desc
        FROM
            tbl_product p
                JOIN tbl_category c ON c.category_code = p.category_code
        WHERE
            soldout_yn = 'N'
        ORDER BY
            prod_code ASC
    </select>

    <select id="selectAllProductForAdmin" resultMap="prodResultMap">
        SELECT
        prod_code
        , c.category_code
        , category_name
        , prod_name
        , prod_price
        , soldout_yn
        , prod_desc
        FROM
        tbl_product p
        JOIN tbl_category c ON c.category_code = p.category_code
        ORDER BY
        prod_code ASC
    </select>

    <select id="selectProductByCategory" resultMap="prodResultMap">
        SELECT
            prod_code
          , c.category_code
          , category_name
          , prod_name
          , prod_price
          , soldout_yn
          , prod_desc
        FROM
            tbl_product p
                JOIN tbl_category c ON c.category_code = p.category_code
        WHERE
            soldout_yn = 'N'
        AND
            c.category_code = #{code}
    </select>

    <select id="selectProductByProdKeyword" resultMap="prodResultMap">
        SELECT
            prod_code
          , c.category_code
          , category_name
          , prod_name
          , prod_price
          , soldout_yn
          , prod_desc
        FROM
            tbl_product p
                JOIN tbl_category c ON c.category_code = p.category_code
        WHERE
            soldout_yn = 'N'
        AND
            prod_name LIKE CONCAT ('%' , #{key}, '%')
    </select>
    
    <select id="selectProductOptionListByProdCode" parameterType="_int" resultMap="prodResultMap">
        SELECT
            p.prod_code
          , prod_name
          , prod_price
          , category_name
          , prod_color
          , prod_size
        FROM
            tbl_product p
                JOIN tbl_category c ON c.category_code = p.category_code
                JOIN tbl_prod_option po ON po.prod_code = p.prod_code
        WHERE
            soldout_yn = 'N'
        AND p.prod_code = #{code}
    </select>



    <insert id="addProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="prodCode">
        INSERT INTO
            tbl_product
            (
              category_code
            , prod_name
            , prod_price
            , soldout_yn
            , prod_desc
            )
        VALUES
            (
              #{categoryCode}
            , #{prodName}
            , #{prodPrice}
            , #{soldOut}
            , #{prodDesc}
            )
    </insert>

    <insert id="addProductOption" parameterType="map" useGeneratedKeys="true">
        INSERT INTO
        tbl_prod_option
        (prod_code, prod_size, prod_color, prod_option_soldout_yn)
        VALUES
            <foreach collection="list" item="option" separator=", ">
                (
                  #{option.prodCode}
                , #{option.prodSize}
                , #{option.prodColor}
                , #{option.optionSoldOut}
                )
            </foreach>
    </insert>

    <update id="updateProduct" parameterType="Product">
        UPDATE
            tbl_product
        SET
              category_code = #{categoryCode}
            , prod_name = #{prodName}
            , prod_price = #{prodPrice}
            , soldout_yn = #{soldOut}
            , prod_desc = #{prodDesc}
        WHERE
            prod_code = #{prodCode}
    </update>

    <update id="updateProductOption" parameterType="ProductOption">
        UPDATE
            tbl_prod_option
        SET
              prod_size = #{prodSize}
            , prod_color = #{prodColor}
            , prod_option_soldout_yn = #{optionSoldOut}
        WHERE
            prod_code = #{prodCode}
    </update>

    <delete id="deleteProduct" parameterType="_int">
        DELETE
        FROM
            tbl_product
        WHERE
            prod_code = #{code}
    </delete>
</mapper>